In [73]:
%matplotlib inline

In [74]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

outlier_circle = dict(markerfacecolor='#081d58', marker='.')
meanlineprops = dict(linestyle='--', linewidth=2, color='#7fcdbb')
medianprops = dict(linestyle='dotted', linewidth=2, color='#1d91c0')
boxprops=dict(facecolor='#ffffd9', color='#ffffd9')

## Importing data

In [75]:
required_df = pd.read_csv("/Users/jxxt/verzeo/Information.csv",engine='python')

In [76]:
required_df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,���It felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,10/26/15 12:40,6.587300e+17,NaN,NaN

In [77]:
required_df.shape

(20050, 26)

In [78]:
required_df.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'gender', 'gender:confidence', 'profile_yn',
       'profile_yn:confidence', 'created', 'description', 'fav_number',
       'gender_gold', 'link_color', 'name', 'profile_yn_gold', 'profileimage',
       'retweet_count', 'sidebar_color', 'text', 'tweet_coord', 'tweet_count',
       'tweet_created', 'tweet_id', 'tweet_location', 'user_timezone'],
      dtype='object')

In [81]:
required_df.columns = required_df.columns.str.strip().str.replace('_', ' ')

In [82]:
required_df.columns

Index([' unit id', ' golden', ' unit state', ' trusted judgments',
       ' last judgment at', 'gender', 'gender:confidence', 'profile yn',
       'profile yn:confidence', 'created', 'description', 'fav number',
       'gender gold', 'link color', 'name', 'profile yn gold', 'profileimage',
       'retweet count', 'sidebar color', 'text', 'tweet coord', 'tweet count',
       'tweet created', 'tweet id', 'tweet location', 'user timezone'],
      dtype='object')

In [85]:
required_df.columns = required_df.columns.str.strip().str.replace(' ', '_')
required_df.columns

Index(['unit_id', 'golden', 'unit_state', 'trusted_judgments',
       'last_judgment_at', 'gender', 'gender:confidence', 'profile_yn',
       'profile_yn:confidence', 'created', 'description', 'fav_number',
       'gender_gold', 'link_color', 'name', 'profile_yn_gold', 'profileimage',
       'retweet_count', 'sidebar_color', 'text', 'tweet_coord', 'tweet_count',
       'tweet_created', 'tweet_id', 'tweet_location', 'user_timezone'],
      dtype='object')

In [86]:
required_df['golden'].unique()

array([False,  True])

In [87]:
required_df['unit_state'].unique()

array(['finalized', 'golden'], dtype=object)

In [88]:
required_df['trusted_judgments'].unique()

array([  3, 249, 271, 245, 261, 247, 242, 256, 262, 259, 264, 258, 260,
       228, 233, 255, 235, 254, 231, 274, 246, 273, 239, 270, 237, 227,
       253, 252, 212, 240, 248, 250])

In [89]:
required_df['profile_yn'].unique()

array(['yes', 'no'], dtype=object)

In [90]:
required_df['gender_gold'].unique()

array([nan, 'male', 'brand', 'female', 'female\nunknown', 'male\nunknown',
       'unknown'], dtype=object)

In [91]:
required_df['profile_yn_gold'].unique()

array([nan, 'yes'], dtype=object)